@model IEnumerable<EffortTrackingSystem.Models.Dtos.MissionDto>

@{
    ViewData["Title"] = "DepartmentTasks";
}

<h1>@ViewBag.name Department - Received Tasks</h1>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Sender
            </th>
            <th>
                Receiver
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                Task Date
            </th>
            <th>
                Expected Deadline
            </th>
            <th>
                Category
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.FullName)
            </td>
            <td>
                @* We should use enum instead of that *@
                @{
                    string result = "";
                    var priority = item.Priority;
                    if (priority == 0)
                        result = "Low";
                    else if (priority == 1)
                        result = "Normal";
                    else if (priority == 2)
                        result = "High";
                    else if (priority == 3)
                        result = "Urgent";
                }
                @result
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expected_Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "MissionDetails", new { id=item.Id, name= @ViewBag.name }, new { @class = "btn btn-info" })
            </td>
        </tr>
}
    </tbody>
</table>
