@model IEnumerable<EffortTrackingSystem.Models.Dtos.DepartmentDto>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">All Departments</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Department <i class="fa fa-plus"></i></a>
</p>

<p class="text-danger">
    @ViewBag.WebException
    @ViewBag.ApiException
</p>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
